*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
}
#minicircle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid whitesmoke;
    position: absolute;
    z-index: 1;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) ;
    background-image: url("../images/logo2.jfif");
    background-position: center;
    background-size: cover;
}
#page1{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 99;
}
#page1 #circle{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: #89d7e4;
    border: 25px solid #39808d;
    border-inline: 5px ;
    /* border-inline-start: 2px; */
    animation: anim .7s linear  infinite ;
    
}
#page1 h1{
    font-size: 5vw;
    color: #39808d;
}

@keyframes anim {
    100%{
        rotate: 360deg;

    }
    
}
